<main class="row justify-content-around">
  <form action="register" method="post" class="col-md-4 mt-5">

    <div class="form-floating mb-3">
      <input type="email" class="form-control" name="username"  placeholder="nombre@ejemplo.com">
      <label for="floatingInput">Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password"  placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="name"  placeholder="Nombre y Apellido">
      <label for="floatingPassword">Nombre y Apellido</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Registrar</button>
  </form>
</main>